html,
body,
header,
.view {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 100vh;
  }
}
a.navbar-brand.mama {
  color: #274046 !important;
}
a.navbar-brand.mama.top-nav-collapse {
  color: #d3959b !important;
}

.top-nav-collapse {
  background-color: #274046 !important;
  color: #fff !important;
  visibility: visible;
}

/* .navbar:not(.top-nav-collapse) {
  background: transparent !important;
} */

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #274046 !important;
    text-align: center;
    color: #fff !important;
  }
  a.navbar-brand.mama {
    color: #d3959b !important;
    visibility: visible;
  }

  .Rose {
    visibility: hidden;
  }
  hr {
    text-align: center !important;
  }
  .mama {
    color: #fff !important;
  }
  .display-3 {
    color: #ffffff;
    font-family: 'Arizonia', cursive;
    text-align: Center !important;
  }
  .subtext-header {
    text-align: center !important ;
  }
}
@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background: #274046 !important;
    text-align: center;
    color: #fff !important;
  }
  .navbar-brand.mama.navbar-toggler {
    color: #fff !important;
    visibility: visible;
  }
  .Rose {
    visibility: hidden;
  }

  hr {
    text-align: center !important;
    width: 75% !important;
  }
  .display-3 {
    color: #ffffff;
    font-family: 'Arizonia', cursive;
    text-align: Center !important;
  }
  .subtext-header {
    text-align: center !important ;
  }
}

.rgba-gradient {
  background: -moz-linear-gradient(
    45deg,
    rgba(39, 64, 70, 0.6),
    rgba(211, 149, 155, 0.69) 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    rgba(39, 64, 70, 0.6),
    rgba(211, 149, 155, 0.69) 100%
  );
  background: linear-gradient(
    45deg,
    rgba(39, 64, 70, 0.6),
    rgba(211, 149, 155, 0.69) 100%
  );
}
nav {
  /* background-color: indigo !important; */
  padding-top: 0px !important;
}
.container-fluid purple-gradient {
  padding-top: 20px !important;
}
.display-3 {
  color: #ffffff;
  font-family: 'Arizonia', cursive;
  text-align: left;
  margin-left: 10%;
  padding-bottom: 0 !important;
}

.mama {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2;
  color: #274046 !important;
}
.floral {
  width: 100%;
  display: block;
  position: absolute;
}
.Rose {
  float: right;
  clear: all;
  background-repeat: no-repeat;
  background-size: cover;
  height: 110%;
  width: auto;
  vertical-align: bottom;
  margin-bottom: 0px;
}
.rose {
  background-repeat: no-repeat;
  height: 50%;
  width: auto;
  margin-bottom: 0px;
}
.photo {
  margin-bottom: 0px;
}
h5 {
  color: #274046 !important;
}
/* h2 {
  color: rgba(213, 15, 62, 0.6);
} */
.subtext-header {
  text-align: left;
  margin-left: 8%;
}
hr {
  text-align: left;
  margin-left: 8%;
}
/* .btn {
  margin-left: 30%;
} */
/* Resume Page */
.rec {
  padding-right: 0px !important;
  padding-left: 0px important;
  margin: 0px !important;
}
#galleryApp {
  background: url('./resources/img/gallery.JPG') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 300px;
  width: 100%;
}
#Paws {
  background: url('./resources/img/Paws.JPG') no-repeat center center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-color: #8b8378;
  height: 300px;
  width: 100%;
}
#town {
  background: url('./resources/img/town.JPG') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 300px;
  width: 100%;
}
.me {
  color: #274046 !important;
}
#contact,
#projects {
  background: linear-gradient(
    45deg,
    rgba(39, 64, 70, 0.6),
    rgba(211, 149, 155, 0.69) 100%
  );
}

.gradient {
  background: linear-gradient(
    45deg,
    rgba(39, 64, 70, 0.6),
    rgba(211, 149, 155, 0.69) 100%
  );
}
#footer {
  background: linear-gradient(
    45deg,
    rgba(211, 149, 155, 0.6),
    rgba(39, 64, 70, 0.69) 100%
  );
}
.btnColor1 {
  background-color: #274046;
}
.dkgrey {
  color: #274046;
}

/* end */
